services:
  redis:
    image: redis:latest
    container_name: redis
    hostname: redis
    restart: unless-stopped
    volumes:
      - data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "6379:6379"
    networks:
      - kalistag2

volumes:
  data:

networks:
  kalistag2:
    external: true
